language: node_js
node_js:
- "14.4.0"

install:
- npm install newman

before_script:
- node --version
- npm --version
- node_modules/.bin/newman --version

script:
- node_modules/.bin/newman run Tests/assignment.postman_collection.json -e Tests/assignment.postman_environment.json -r cli,htmlextra
